//////////////////////
//  Site variables  //
//////////////////////


// Colors
$darker-purple: #0E0C20;
$dark-purple: #15122f;
$white: #fff;
$blue: #00BFFF;

// Fonts
$main-font: 'Dosis', sans-serif;

// Transitions
$quick-transition: 0.05s ease-in-out 0s;
$medium-transition: 0.2s ease-in-out 0s;